@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn-secondary {
      @apply py-3 px-10 min-h-9 leading-none  text-15 bg-pink-gradient text-white font-medium 
    }
    .btn-secondary:hover {
      background-size: 200% 100%; /* Desired background size on hover */
    }

    .btn-secondary-small {
      @apply py-4 px-9   min-h-12 leading-none  text-15 bg-pink-gradient text-white font-medium 
    }
    .btn-secondary-small:hover {
      background-size: 200% 100%; /* Desired background size on hover */
    }

    .btn-primary {
      @apply py-3 px-10 bg-blue text-white font-medium text-sm
       shadow-md inline-block  min-h-9 leading-none relative
       before:content-[""] before:absolute before:left-0 before:top-0  before:w-0 z-[0] before:h-full
       before:transition-all before:duration-300 ease-linear before:delay-0 
       hover:before:bg-blue-500 hover:before:w-full hover:before:z-[-1]
    }

    .btn-outer {
      @apply flex-1 flex items-center justify-center text-base text-brand font-medium h-12 border-2 rounded-sm border-brand
      leading-none relative
      before:content-[""] before:absolute before:left-0 before:top-0  before:w-0 z-[0] before:h-full
      before:transition-all before:duration-300 ease-linear before:delay-0 
      hover:before:bg-pink-gradient hover:text-white hover:before:w-full hover:before:z-[-1]
    }
   
  }

  @layer components {
    .custom-h2::before,
    .custom-h2::after {
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      position: absolute;
      background: #334f67;
      height: 1px;
      width: 136px;
      bottom: 0;
      
    }
    .custom-h2::before {
      margin-left: -37px;
    }
    .custom-h2::after {
      margin-left: 37px;
      bottom: 11px;
    }

   
  } 
  @layer components {
    .custom-container {
      @apply container w-full; 
      max-width: 1860px; 
    }
  }
  